@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.urgenteText {
    color: #C63535;
}

.criticoText {
    color: #C65835;
}

.preocupanteText {
    color: #CCA92B;
}

.adequadoText {
    color: #53AC50;
}

.hora {
    color: #6D2D2D;
    font-size: 14px;
    display: flex;
    gap: 5px;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.container .lateral {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #0F310E 0%, #20571E 100%);
    box-shadow: -1px 4px 11px rgba(0, 0, 0, 0.13);
}

.lateral .listaBaixo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista a i {
    font-size: 30px;
    color: #FFF;
}

.lista span {
    color: #FFF;
    font-size: 18px;
}

.lista.destaque .lista {
    color: rgba(6, 67, 6, 1);
}

.est.uil-plus-circle:before {
    color: rgba(6, 67, 6, 1);
}

.navHeader {
    display: flex;
    flex-direction: column;
    height: 175px;
    width: 70%;
    justify-content: space-between;
    align-content: space-between;
    align-self: center;
    gap: 50px;
    padding: 25px;
}

.navHeader span {
    font-size: 16px;
    color: #FFF;
    padding: 0 0 20px 0;
}

.navHeader img {
    width: 105px;
}

.navegacão {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navegacão ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.navegacão ul li {
    display: flex;
    align-items: center;
    height: 65px;
    list-style: none;


}

.navegacão ul li a {
    display: flex;
    align-items: center;
    padding-left: 23px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #064306;
    gap: 15px;
    width: 100%;
}

.navegacão ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navegacão .destaque {
    background-color: #FFF;
    border-radius: 16.55px;
}

.nomeNome {
    display: flex;
    gap: 15px;
}

.nomeNome span {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.configNomeimg {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nomeNome span .config {
    height: 10px;
}

.trindade a {
    list-style: none;
}

.configgg {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 8px;
}

.config {
    list-style: none;
}

.ul2 {
    list-style: none;
}

li a {
    text-decoration: none;
}

.ismalenda li a {
    color: #FFF;
}

.ismalendas> :nth-child(1) {
    font-weight: 300;
    font-size: 17px;
    color: #FFF;
}

.ismalendas> :nth-child(2) {
    font-weight: 300;
    font-size: 14px;
    color: #FFF;
}

.inferior-menu {
    background-image: url(imgs/VectorPéMenu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    height: 70px;
    background: linear-gradient(90deg, #0F310E 0%, #20571E 100%);
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.top-left {
    display: flex;
    gap: 25px;
}

.tela {
    width: 85%;
    flex-direction: column;
    justify-content: center;
}

.tela .topo {
    color: #FFF;
    font-size: 28px;
}

.tela-dashboard {
    padding: 10px 30px;
}

.areaDash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    background: #FEFFFB;
    box-shadow: 0px -9px 30px rgba(0, 0, 0, 0.3);
}

.alertsParametro {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.alertsParametro .urgente {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alertsParametro .urgente .span-urgente {
    flex-direction: column;
    display: flex;
    align-items: center;
    color: #871616;
}

.alertsParametro .preocupante {     
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alertsParametro .preocupante .span-preocupante {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #704B01;
}

.alertsParametro .adequado .span-adequado {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #287E25;
}

.alertsParametro .critico {
    /*     width: 188px; */
    height: 57px;
    background: rgba(255, 209, 157, 0.014);
    /* 
        box-shadow: 0px 0px 8px rgba(122, 74, 0, 0.69); */
    border-radius: 36.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alertsParametro .adequado {
    /* width: 188px; */
    /* height: 57px; */
    background: rgba(245, 254, 245, 0.21);
    /* 
        box-shadow: 0px 0px 8px 1px rgba(0, 78, 8, 0.69); */
    border-radius: 36.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* FIM DA NAV BAR */

.teste{
    display: block;
    width: 800px;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.telaConteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.textCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    text-align: center;
    color: rgba(28, 33, 67, 0.86);
    font-size: 18px;
}

.textCadastro span {
    width: 470px;
    padding: 6px;
}

.formCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.inputCadastro {
    display: flex;
    flex-direction: column;
    color: #747474;
    gap: 5px;
}

.inputCadastro input {
    width: 370px;
    background: #FFFFFF;
    border: 2px solid #88AE35;
    border-radius: 5px;
    padding: 13px 10px;
    font-family: 'Jost';
    font-size: 16px;
}

.inputCadastro input::placeholder {
    font-family: 'Jost';
    font-size: 16px;
    font-weight: bold;
    color: #B9B9B9;
}

.inputCadastro input:focus {
    outline: 1px solid #799b2f;
}

.cadastroContainer img {
    align-self: flex-end;
    padding: 15px;
}

#uf{
    width: 60px;
}

#localidade{
    width: 300px;
}

.side{
    width: 370px;
    display: flex;
    justify-content: space-between;

}

.formCadastro button {
    width: 626px;
    height: 44px;
    background: #88AE35;
    border-radius: 5px;
    border: 1px solid #799b2f;
    color: #FFFFFF;
    font-family: 'nunito';
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    margin: 10px;
}

.formCadastro button:hover {
    cursor: pointer;
    background-color: #7da032;
} 

