@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.urgenteText {
    color: #C63535;
}

.criticoText {
    color: #C65835;
}

.preocupanteText {
    color: #CCA92B;
}

.adequadoText {
    color: #53AC50;
}

.hora {
    color: #6D2D2D;
    font-size: 14px;
    display: flex;
    gap: 5px;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.container .lateral {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #0F310E 0%, #20571E 100%);
    box-shadow: -1px 4px 11px rgba(0, 0, 0, 0.13);
}

.lateral .listaBaixo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista a i {
    font-size: 30px;
    color: #FFF;
}

.lista span {
    color: #FFF;
    font-size: 18px;
}

.lista.destaque .lista {
    color: rgba(6, 67, 6, 1);
}

.est.uil-presentation-line:before {
    color: rgba(6, 67, 6, 1);
}

.navHeader {
    display: flex;
    flex-direction: column;
    height: 175px;
    width: 70%;
    justify-content: space-between;
    align-content: space-between;
    align-self: center;
    gap: 50px;
    padding: 25px;
}

.navHeader span {
    font-size: 16px;
    color: #FFF;
    padding: 0 0 20px 0;
}

.navHeader img {
    width: 105px;
}

.navegacão {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navegacão ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.navegacão ul li {
    display: flex;
    align-items: center;
    height: 65px;
    list-style: none;


}

.navegacão ul li a {
    display: flex;
    align-items: center;
    padding-left: 23px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #064306;
    gap: 15px;
    width: 100%;
}

.navegacão ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navegacão .destaque {
    background-color: #FFF;
    border-radius: 16.55px;
}

.nomeNome {
    display: flex;
    gap: 15px;
}

.nomeNome span {
    display: flex;
    flex-direction: column;
}

.configNomeimg {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nomeNome span .config {
    height: 10px;
}

.trindade a {
    list-style: none;
}

.configgg {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 8px;
}

.config {
    list-style: none;
}

.ul2 {
    list-style: none;
}

li a {
    text-decoration: none;
}

.ismalenda li a {
    color: #FFF;
}

.ismalendas> :nth-child(1) {
    font-weight: 300;
    font-size: 17px;
    color: #FFF;
}

.ismalendas> :nth-child(2) {
    font-weight: 300;
    font-size: 14px;
    color: #FFF;
}

.inferior-menu {
    background-image: url(imgs/VectorPéMenu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    height: 60px;
    background: linear-gradient(90deg, #0F310E 0%, #20571E 100%);
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.top-left {
    display: flex;
    gap: 25px;
}

.tela {
    width: 85%;
    flex-direction: column;
    justify-content: center;
}

.tela .topo {
    color: #FFF;
    font-size: 28px;
}

.tela-dashboard {
    padding: 10px 30px;
}

.areaDash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12%;
    background: #FEFFFB;
    box-shadow: 0px -9px 30px rgba(0, 0, 0, 0.3);
}

.alertsParametro {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.alertsParametro .urgente {
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alertsParametro .urgente .span-urgente {
    flex-direction: column;
    display: flex;
    align-items: center;
    color: #871616;
}

.alertsParametro .preocupante .span-preocupante {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #704B01;
}

.alertsParametro .adequado .span-adequado {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #287E25;
}

.alertsParametro .critico {
    height: 57px;
    background: rgba(255, 209, 157, 0.014);
    border-radius: 36.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alertsParametro .preocupante {
    background: rgba(254, 254, 245, 0.21);
    border-radius: 36.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alertsParametro .adequado {
    background: rgba(245, 254, 245, 0.21);
    border-radius: 36.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* FIM DA NAV BAR */

.listaEstufas{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 75%;
    align-self: center;
    margin-top: 20px;
    gap: 20px;
}

.containerColTittle{
    display: flex;
    background: #D9D9D9;
    border-radius: 15px;
    padding: 0 70px 0 40px;
    color: #4E4D4DC4;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.containerColTittle span{
    font-size: 21px;
}

.listaEstufas .lista{
    display: flex;
    flex-direction: column;
    height: 84%;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: -5px 6px 11px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 8px 15px;
}

.listaEstufas .lista::-webkit-scrollbar{
    width: 5px;
    height: 8px;

}

.listaEstufas .lista::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
  }



.listaEstufas .lista .listaItem{
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 440px;
    border-bottom: 2px solid rgba(157, 157, 157, 0.72);
    padding: 0 20px 5px 25px;
}



.listaEstufas .lista details > summary {
    list-style: none;
  }

.listaEstufas .lista .listaItem .upperPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 0 20px;
    cursor: pointer;
}

.listaEstufas .lista .listaItem span{
    font-size: 20px;
}

.listaEstufas .lista .listaItem .qtdAlertas{
    display: flex;
    align-items: center;
    gap: 15px; 
}

.listaEstufas .lista .listaItem .qtdAlertas span{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 21px;
}



.listaEstufas .lista .listaItem .lowerPart{
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-top: 2px solid rgba(157, 157, 157, 0.72);
    padding-top: 25px;
    gap: 10px;
}


.lowerPart .containerColsubTittle{
    display: flex;
    justify-content: space-between;
    padding: 0 55px 0 40px;
}

.lowerPart .containerColsubTittle span{
    font-size: 15px !important;
    color: #7A7676;
    font-weight: bold;
}

.listaSetores{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 270px;
    max-height: 270px;
    overflow-y: auto;
    padding-right: 5px;
}

.listaSetores a{
    color: inherit;
    text-decoration: none;
}

.listaSetores::-webkit-scrollbar{
    width: 5px;
    height: 8px;

}

.listaSetores::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
  }

.listaSetores .listaSetorItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px 0 40px;
    min-height:75px ;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.listaSetores .listaSetorItem > :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.listaSetores .listaSetorItem > :nth-child(3){
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}



.listaSetores .listaSetorItem .listaSetorItemElemento{
    width: 33%;
}