@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #EBF0DE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    height: 100%;
    max-width: 100%;
}

.cadastroBody {
    background-image: linear-gradient(180deg, #122B12 7.52%, rgba(34, 90, 34, 0.96) 49.1%, #122B1C 93.36%);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cadastroContainer {
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Jost';
    width: 80%;
    padding-bottom: 40px;
}

.cadastroContainerMiddlePart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
    width: 470px;
    text-align: center;
    color: rgba(28, 33, 67, 0.86);
    font-size: 20px;
}

.cadastroContainerMiddlePart> :nth-child(2) {
    margin: 5px 0;
}

.bottomCadastroContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomCadastroContainer a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Jost';
    font-size: 22px;
}

.bottomCadastroContainer a:hover {
    color: #e7e5e5;
}

.bottomCadastroContainer button {
    width: 265px;
    height: 44px;
    background: #88AE35;
    border-radius: 5px;
    border: 1px solid #799b2f;
    color: #FFFFFF;
    font-family: 'Jost';
    font-size: 15px;
    font-weight: bold;
}

.bottomCadastroContainer button:hover {
    cursor: pointer;
    background-color: #7da032;
}

.P3 .cadastroContainerMiddlePart {
    font-size: 30px;
    width: 550px;
}

.P3 .cadastroContainerMiddlePart h2 {
    color: #718d3b;
}

.P3 .cadastroContainerMiddlePart> :nth-child(3) {
    display: flex;
    gap: 10px;
    font-size: 26px;
}

.P3 .bottomCadastroContainer {
    justify-content: center;
}