@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #EBF0DE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
    max-width: 100%;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    position: fixed;
    backdrop-filter: blur(5px);
    background-color: #044f0234;
    z-index: 10;
    width: 97%;
}

.nav_part1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
}


.nav .nav_part1 a:hover{
    color: rgb(154, 212, 149);
}


.btn_cadastro {
    border: 3px solid #ECF39E !important;
    border-radius: 26px !important;
    padding-inline: 20px !important;
    padding-block: 4px !important;
    all: unset;
}

.nav_part2 {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.btn_login {
    background: #EAFF00 !important;
    border-radius: 26px !important;
    padding-inline: 38px !important;
    padding-block: 6px !important;
    all: unset;
    color: black !important;
}

.home {
    background: linear-gradient(180deg, #193819 0%, rgba(34, 90, 34, 0.96) 74.44%);
    height: 395px;
    padding: 170px 84px;
    position: relative;
    
}


.home::after {
    content: ' ';
    background-image: url("imagem/homeImg1.svg");
    background-size: cover;
    width: 90%;
    height: 400px;
    position: absolute;
    margin-top: 20px;
}

.home h1 {
    font-family: 'Syne', sans-serif;
    font-size: 85px;
    width: 800px;
    color: white;
    font-weight: 100;
    padding: 0 50px;
}



.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px;
    margin-top: 175px;
    padding-top: 208px;
}


.sobre h3 {
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    color: #96C344;
    margin: 10px 10px;
}

.sobre h3 span {
    color: #31572C;
}

.sobre  h4 {
    color: #31572C;
    font-family: 'Jost', sans-serif;
    font-size: 37px;
    font-weight: 100;
    width: 90%;
    text-align: justify;
    margin: 30px 10px;
}

.diferenciais {
    height: 520px;
    display: flex;
    justify-content: space-between;
    padding: 80px 50px;
    padding-top: 225px;
}

.diferenciais> :nth-child(1) {
    background-color: transparent !important;
    gap: 0 !important; 
    box-shadow: none !important;

}

.diferenciais> :nth-child(1) h2 {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 55px !important;
    color: #31572C;
    margin: 0 !important;
}

.diferenciais> :nth-child(1) span {
    color: #82B80C;
}

.diferenciais> :nth-child(1) h4 {
    font-family: 'Jost';
    color: #31572C;
    font-size: 18.4px;
    font-weight: 500;
}

.diferenciais .card {
    width: 300px;
    height: 400px;
    border-radius: 40px;
    background: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 1px 20px 19px rgb(0 0 0 / 15%);
}

.diferenciais .card h2 {
    font-family: 'Jost';
    font-size: 34px;
    color: #31572C;
    font-weight: 700;
    margin-left: 40px;
}

.diferenciais> :nth-child(3) {
    align-self: end;
}


.tipoAlfacesPlantacoes{
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
    gap: 100px;
}

.tipos_alface{
    display: flex;
    justify-content: space-evenly;
}

.tipos_alface .img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Syne';
    text-align: center;
    box-shadow: 0px 1px 16px 7px rgb(0 0 0 / 40%);
}



.tipos_alface .americana{
    background-image: url(imagem/alfaceAmericana.png);
    background-size: cover;
}

.tipos_alface .crespa{
    background-image: url(imagem/alfaceCrespa.jpeg);
    background-size: cover;
}

.tipos_alface .mimosa{
    background-image: url(imagem/alfaceMimosa.png);
    background-size: cover;
}

.tipos_alface .roxa{
    background-image: url(imagem/alfaceRoxa.png);
    background-size: cover;
}

.plantacoes{
    display: flex;
    justify-content: space-evenly;
}

.plantacoes .plantDiv{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: justify;
    gap: 20px;
    font-family: 'Jost';
    font-size: 24px;
    color: #31572C;
}

.plantacoes .plantDiv img{
    filter: drop-shadow(0px 4px 9px #000000);
}

.plantacoes :nth-child(4){
    gap: 102px;
}


.simulador{
    padding: 80px 50px;
}

.simuladorContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
    background: linear-gradient(180deg, #132A13 0%, rgba(22, 112, 22, 0.96) 74.44%);
    border-radius: 50px;

    color: white;
    font-family: 'Jost';
}

.simuladorContainer h1{
    font-size: 50px;
    margin: 0;
}

.simuladorContainer form{
    display: flex;
    width: 80%;
    gap: 100px;
}

.formSimulador1, .formSimulador2{
    width: 50%;
    display: flex;
    flex-direction:column;
    align-items: start;
    gap: 30px;
}

.inputSimulador{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.inputSimulador span{
    font-size: 25px;
}

.inputSimulador input{
    height: 60px;
    border-radius: 5px;

    border: 0.5px solid rgba(216, 225, 224, 0.4);
    background: rgba(216, 225, 224, 0.04);

    padding: 0 20px;
    font-family: 'Jost';
    color: white;
    font-size: 22px;
}

.inputSimulador input::placeholder{
    color: rgba(184, 182, 182, 0.429);
}

.inputSimulador input:focus{
    outline: 0;
}

.simuladorContainer button{
    width: 190px;
    height: 71.3px;

    background: #98C438;
    border-radius: 10px;

    font-family: 'Jost';
    font-weight: bold;
    font-size: 20px;

    color: white;
    border: 1px solid #435f05;
}

.simuladorContainer a{
    z-index: 5;
    width: fit-content;
}

.simuladorContainer button:hover{
    cursor: pointer;
    background: #91bb36;
}


#resultadoSimulador{
    display: flex;
    flex-direction: column;
    font-family: 'Jost';
    width: 80%;
    height: fit-content;
    min-height: 1px;
    gap: 20px;
    font-size: 35px;

padding-top: 124px;
margin-top: -124px;
}



#resultadoSimulador b{
    font-size: 45px;
}





.faq {
    padding: 121px 50px;
    height: fit-content;
    background: linear-gradient(180deg, rgba(49, 87, 44, 0.1) 0%, rgba(136, 174, 53, 0.1) 100%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Jost';
}

.faq .container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.faq .titulo {
    color: #1c341c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}

.faq .container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 40px;
}

.colunaFaq a{
    text-decoration: none;
    color: inherit;
}

.colunaFaq a:hover{
    color: #718d3b;
}

.colunaFaq {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
    color: #84a444;
    font-size: 25px;
    font-family: 'Jost';
}

.titulo_faq {
    color: #33592c;
    font-weight: bolder;
}


/* ------------------- FOOTER ------------------------ */
.footer {
    background: linear-gradient(0deg, #132A13 -44%, #31572C 155.34%);
    padding: 80px 50px;
    padding-bottom: 10px;
    display: flex;
    font-size: small;
    flex-direction: column;
}

.footer .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.imgInput {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.imgLogo {
    width: 85px;
    height: 85px;
}


.inputBotao {
    height: 45px;
    display: flex;
    gap: 5px;
}

.inputEmail {
    height: 41px;
    padding-left: 20px;

    background: rgba(216, 225, 224, 0.04);
    border: 0.5px solid rgba(216, 225, 224, 0.4);
    border-radius: 5px;
    color: white;

    width: 300px;
}

.inputEmail:focus {
    outline: 0;
}

.inputEmail::placeholder {
    color: rgba(216, 225, 224, 0.787);
  
    font-family: 'Jost';
    font-size: 15px;
}

.footer .imgInput .inputBotao button {
    width: 150px;
    height: 45px;
    background: #88AE35;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0;
}

.sobreFooter {
    display: flex;
}

.sobreFooter :nth-child(2){
    width: 150px;
}

.colunaSobreFooter {
    width: 225px;
    color: rgba(217, 217, 217, 0.75);

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;

}

.colunaSobreFooter span{
    font-size: 17px;
    font-family: 'Jost';
    font-weight: bold;
}

.colunaSobreFooter a{
    text-decoration: none;
    color: inherit;
}

.colunaSobreFooter a:hover{
    color: rgba(176, 175, 175, 0.75);
}

.titulo_sobreFooter {
    color: #FFFFFF;
    font-weight: bolder;
    margin-bottom: 20px;
}

.rodape {
    color: rgba(217, 217, 217, 0.75);

    width: 100%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Jost';
    font-size: 15px;
}

.rodapeEsquerdo {
    padding: 20px 0;

    display: flex;
    align-items: center;

    gap: 40px;
}

.rodapeDireito {
    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Pagina de cadastro */


.cadastroBody{
    background-image: linear-gradient(180deg, #122B12 7.52%, rgba(34, 90, 34, 0.96) 49.1%, #122B1C 93.36%);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cadastroContainer{
    background-color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Jost';
    width: 80%;
    
}

.cadastroContainerUpperPart{
    display: flex;
    height: 80px;
    background: #ECECEC;
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}

.cadastroContainerUpperPart > :nth-child(1){
    width: 50%;
    background: #88AE35;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px 80px 80px 0;
    font-weight: bold;
}

.cadastroContainerUpperPart > :nth-child(1) :nth-child(1){
    color: #88AE35;
    background-color: white;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.cadastroContainerUpperPart > :nth-child(2){
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #88AE35;
}

.cadastroContainerUpperPart > :nth-child(2) :nth-child(1){
    color: white;
    background-color: #88AE35;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cadastroContainerMiddlePart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0;
    width: 470px;
    text-align: center;
    color: rgba(28, 33, 67, 0.86);
    font-size: 20px;
}

.cadastroContainerMiddlePart > :nth-child(2){
    margin:  5px 0;
}

.cadastroContainerBottomPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 250px;
    width: 70%;
    flex-wrap: wrap;
}

.inputCadastro{
    display: flex;
    flex-direction: column;
    color: #747474;
    gap: 5px;
}

.inputCadastro input{
    width: 370px;
    background: #FFFFFF;
    border: 2px solid #88AE35;
    border-radius: 5px;
    padding: 13px 10px;
    font-family: 'Jost';
    font-size: 16px;
}

.inputCadastro input::placeholder{
    font-family: 'Jost';
    font-size: 16px;
    font-weight: bold;
    color: #B9B9B9;
}

.inputCadastro input:focus{
    outline: 1px solid #799b2f;
}

.cadastroContainer img{
    align-self: flex-end;
    padding: 15px;
}


.bottomCadastroContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomCadastroContainer a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Jost';
    font-size: 22px;
}

.bottomCadastroContainer a:hover{
    color: #e7e5e5;
}

.bottomCadastroContainer button{
    width: 265px;
    height: 44px;
    background: #88AE35;
    border-radius: 5px;
    border: 1px solid #799b2f;
    color: #FFFFFF;
    font-family: 'Jost';
    font-size: 15px;
    font-weight: bold;
}

.bottomCadastroContainer button:hover{
    cursor: pointer;
    background-color: #7da032;
}


.P2 .cadastroContainerUpperPart > :nth-child(1){
    width: 50%;
    background: none;
    color: #88AE35;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px 0 0 0;
    font-weight: bold;
}

.P2 .cadastroContainerUpperPart > :nth-child(1) :nth-child(1){
    color: white;
    background-color: #88AE35;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.P2 .cadastroContainerUpperPart > :nth-child(2){
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: white;
    background-color: #88AE35;
    border-radius: 80px 20px 0 80px;
}

.P2 .cadastroContainerUpperPart > :nth-child(2) :nth-child(1){
    color: #88AE35;
    background-color: white;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.P2 .cadastroContainerBottomPart{
    height: 300px;
}

.P3 .cadastroContainerMiddlePart{
    font-size: 30px;
    width: 550px;
}

.P3 .cadastroContainerMiddlePart h2{
    color: #718d3b;
}

.P3 .cadastroContainerMiddlePart > :nth-child(3){
    display: flex;
    gap: 10px;
    font-size: 26px;
}

.P3 .bottomCadastroContainer{
    justify-content: center;
}



/* pagina de login */

.loginBody{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    padding: 60px 110px;
    background-color: white;
    box-shadow: 0px 1px 20px 19px rgb(0 0 0 / 15%);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Jost';
    gap: 30px;
}

.loginContainer > :nth-child(1){
    width: 100%;
    display: flex;
    justify-content: start;
    text-decoration: none;
}

.loginContainer > :nth-child(1) a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.loginContainerUpperPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}


.loginContainerUpperPart .titulo{
    color: #37431C;
    font-weight: bold;
    font-size: 39px;
}

.loginContainerMiddlePart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.loginContainerMiddlePart .inputLogin{
    display: flex;
    flex-direction: column;
    color: #4B4B4BC9;
    font-size: 18px;
    gap: 7px;
    
}

.loginContainerMiddlePart .inputLogin input{
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 12px 10px;
    font-family: 'Jost';
    font-size: 19px;
}

.loginContainerMiddlePart .inputLogin input::placeholder{
    color: #787676C9;
    font-size: 19px;
}

.loginContainerMiddlePart  .conectadoEsqSenha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #747474E5;
}

.loginContainerMiddlePart button{
    width: 567px;
    height: 52px;
    background: #88AE35;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Jost';
    color: #FFFFFF;
    font-weight: bold;
}

.loginContainerMiddlePart button:hover{
    cursor: pointer;
    background: #88ae35ec;
}

.loginContainerBottomPart{
    display: flex;
    justify-content: start;
    width: 100%;
}

.loginContainerBottomPart a{
    color: #4F772D;
}