.lateral {
    position: absolute;
    background-color: #E7F1EE;
    display: flex;
    flex-direction: column;
    width: 12.5%;
    height: 99%;
    justify-content: space-between;

}
ul {
    list-style-image: url('/assets/Vector.png');
    white-space: nowrap;
    position: relative;
    display: block;
    padding-right: 10px;
    height: 60px;
    line-height: 60px;
    
  }
  
.cima {
    margin-top: 10px;
}

.baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8%;
    flex-direction: column;

}
.usu {
    justify-content: center;
}

.container {
    display: flex;
}

.nome {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .lateral .nome {
    display: flex;
    justify-content: center;
}

.tela {
    width: (87.5%);
}

.palavraMenu {
    display: flex;
    justify-content: left;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    
}

